parameters:
    level: 8
    paths:
    - src
    autoload_directories:
    - %rootDir%/../../../src/Migrations
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    ignoreErrors:
    - '#Method App\\Form\\[a-zA-Z]+Type::buildForm\(\) has parameter \$options with no value type specified in iterable type array\.#'

