parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Form\\\\VenueDtoType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/VenueDtoType.php

