{% extends 'admin/base.html.twig' %}


{% set menuItem = 'events' %}
{% block body %}

    <h1>Delete event: {{ name }}</h1>

    <p class="warning">Are you sure you want to delete event ({{ name }})? </p>

    <form method="post">
        <input type="submit" role="button" value="Delete" class="btn btn-sm btn-danger">
    </form>

    Back to <a href="{{ url('eventList') }}">event list</a>.

{% endblock %}
