{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set menuItem = 'persons' %}
{% block body %}

    {% if isCreate %}
        <h1>Create Person</h1>
    {% else %}
        <h1>Update Person</h1>
    {% endif %}

    {{ form(form) }}

    Back to <a href="{{ url('personList') }}">person list</a>.

{% endblock %}
