{% extends 'admin/base.html.twig' %}


{% set menuItem = 'events' %}
{% block body %}

    <h1>Delete talk: {{ talk.title }}</h1>

    <p class="warning">Are you sure you want to delete talk ({{ talk.title }})? </p>

    <form method="post">
        <input type="submit" role="button" value="Delete" class="btn btn-sm btn-danger">
    </form>

    Back to <a href="{{ url('eventRead', { 'event' : talk.event.id }) }}">talk list</a>.

{% endblock %}
