{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set menuItem = 'venues' %}
{% block body %}

    {% if isCreate %}
        <h1>Create Venue</h1>
    {% else %}
        <h1>Update Venue</h1>
    {% endif %}

    {{ form(form) }}

    Back to <a href="{{ url('venueList') }}">venue list</a>.

{% endblock %}
