{% extends 'admin/base.html.twig' %}


{% set menuItem = 'venues' %}
{% block body %}

    <h1>Venues</h1>

    {% if venues %}
        <table class="">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for venue in venues %}
                <tr>
                    <td>{{ venue.name }}</td>
                    <td><a href="#" class="btn btn-info">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>There are no venues.</p>
    {% endif %}

    <a href="{{ url('venueCreate') }}" class="btn btn-info" type="button">Create venue</a>

{% endblock %}
